<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://ugractf.ru/static/css/tt-id.css">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow">
        <title>ИС САМСА</title>
    </head>
    <body style="background-image: url('https://teamteam.dev/assets/clowns.png')">
        <div class="tt-id">

<div class="domik-domik">
    <img src="https://ugractf.ru/static/img/teamteam.svg" class="logo">
    {% block content %}
    {% endblock %}
</div>

<p class="what">Самса — это ароматные пирожки с начинкой, которые вдохновляют<a onclick="document.querySelector('#more').style.display='inline';document.querySelector('#morelink').style.display='none'; return false;" id="morelink" style="cursor: pointer;color: #88f;"> ...</a><span id="more" style="display:none"> на наслаждение каждым кусочком. Что может быть лучше и удобнее самсы к обеду или перекусу? Вкусные самсы не только радуют вкусовые рецепторы, но и наполняют энергией на весь день. Если вы цените настоящее восточное лакомство и ищете рецепты самсы с подробными фото, простые рецепты самсы на скорую руку, хотите узнать, как приготовить самсу, как испечь самсу — более двухсот вариантов самса ждут вас на нашем сайте.</span></p>

        </div>
    </body>
</html>
